<!DOCTYPE html>
<html>
    <head>
        <title>Supper Blog</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/lib/bootstrap.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/lib/bootstrap-responsive.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/lib/bootstrap-datepicker.css")">         
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">      		      
    </head>

	<body data-spy="scroll" data-target=".subnav" data-offset="50">
		   		  	     
	</body>
	<script data-main="assets/javascripts/main" src="@routes.Assets.at("javascripts/lib/require.js")" type="text/javascript"></script>

	
</html>
