@(user:Option[com.minosiants.supperblog.common.model.UserProfile])
@import tags._

<script type="text/template" id="main-navbar-template"/>	   	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Supper Blog</a>
				<ul class="nav pull-right">
					<li>
						<form class="navbar-search pull-right">
							<input type="text" class="search-query" placeholder="Search">
						</form>
					</li>
					<li class="divider-vertical"></li>

					@user.map{u => 
						<li>
							<div class="btn-group">
									<a class="btn btn-inverse" href="#"><i class="icon-user icon-white"></i></a> 
									<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a class="edit-profile"><i class="i"></i> Edit Profile</a></li>
										<li><a class="change-password"><i class="i"></i> Change Password</a></li>
										<li><a class=" sign-out"><i class="i"></i> Sign Out</a></li>
									</ul>
							</div>
						</li>
						<li class="divider-vertical"></li>
						<li>
							<button type="submit" class="btn btn-primary new-post">
								<i class="icon-pencil icon-white"></i>
							</button>
						</li>
					}.getOrElse{
						<li>
							<a class="sign-in" href="signin"><i class="i"></i> Sign in</a>
						</li>
						<li>
							<a class="sign-up" href="signup"><i class="i"></i> Sign up</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="sign-in-modal-template">	
	@modal("Sign In"){ 
		<form class=" clearfix" method="post">			
  			<fieldset class="span4">				
				@inputText(name="Username",('placeholder->"Username"))	  			  		
				@inputPassword(name="Password",('placeholder->"Password"))	  			
  			</fieldset>
		</form>		
	}		
</script>	
<script type="text/template" id="sign-up-modal-template">	
	@modal("Sign Up"){ 
		<form class=" clearfix" method="post">			
  			<fieldset class="span4">
				@inputText(name="Username" ,('_value->"<%= data.username %>"),('placeholder->"Username"))	  			  		
				@inputText(name="Email",  ('_value->"<%=data.email%>"), ('placeholder->"Email"))
				@inputPassword(name="password",('placeholder->"Password"), '_label->"Password")	  			  		
				@inputPassword(name="confirm",('placeholder->"Reenter Password"), '_label->"Confirm Password")	  			  		
  			</fieldset>
		</form>		
	}		
</script>	
<script type="text/template" id="create-post-modal-template">
	<% var action= data.id ? "Save post":"Create post";%>
	@modal("<%=action%>"){ 
		<form class=" clearfix">			
  			<fieldset class="span4">
				@inputText(name="Title",('_value->"<%= data.username %>"),('placeholder->"Type post title"))	  			  		
				@textarea(name="Content",('placeholder->"Type post content"))	  			
  			</fieldset>
		</form>		
	}		
</script>	

<script type="text/template" id="change-password-modal-template">
	@modal("Change password"){ 
		<form class=" clearfix" method="post">			
  			<fieldset class="span4">				
				@inputText(name="Currient password",('placeholder -> "Type currient password"),('_helpBlock -> "<a href='#'>Forgot your password?</a>"))
				@inputText(name="New password",('placeholder -> "Type new password"))	  			  		
				@inputText(name="Verify password",('placeholder -> "Type new password"))	  			  		
  			</fieldset>
		</form>		
	}					
</script>
	
<script type="text/template" id="edite-profile-modal-template">	
	@modal("Update Profile"){ 
		<form class=" clearfix" method="post">
			<fieldset class="pull-left">
				<div><img  style="width: 150px; height: 150px; border: 1px gray solid;"></img></div>							
				@inputFile(name="")
			</fieldset>			
  			<fieldset class="pull-right">
				@inputText(name="First name",('placeholder -> "Type first name"))
				@inputText(name="Surname",('placeholder -> "Type surname"))	  			  		
				@inputText(name="Twitter",('placeholder -> "Type your twitter"))
				@inputText(name="Skype",('placeholder -> "Type your skype name"))	  			  		
				@textarea(name="Bio",('placeholder -> "Type about you"))	  			  		
  			</fieldset>
		</form>		
	}		
</script>
<script type="text/template" id="alert-error-template" >	
	<div class="alert alert-block alert-error fade in">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <h4 class="alert-heading"><%= data.alert-heading %></h4>
       <p><%= data.alert-text %></p>       
     </div>
</script>          