<script type="text/template" id="post-template">	
	<header class="page-header">
		<h1><%= data.title %></h1>
		<div class="clearfix">
			<a href="#" class="pull-left comments"> 6 Comments</a>
			<span class="post-date pull-right"><%= app.util.date(data.created) %></span>					
			<div class="pull-right">
				 <% _.each(data.tags, function(tag) { %>
         				<a href="#"><span class="tag"><%= tag %></span></a>
       			<% }); %>	
			</div>
		</div>
		<div class="clearfix private"><a href="#" class="pull-right edit">Edit</a></div>
	</header>
	<div class="post-content"><%= data.content %></div>
</script>
<script type="text/template" id="post-preview-template">	
	<header class="page-header">
		<h1><a href="/posts/<%= data.id %>"><%= data.title %></a></h1>
		<div class="clearfix">
			<a href="#" class="pull-left"> 6 Comments</a>
			<span class="post-date pull-right"><%= app.util.date(data.created) %></span>				
			<div class="pull-right">
				 <% _.each(data.tags, function(tag) { %>
         				<a href="#"><span class="tag"><%= tag %></span></a>
       			<% }); %>	
			</div>
		</div>
		<div class="clearfix private"><a href="#" class="pull-right edit">Edit</a></div>
	</header>
	<div class="post-content"><%= data.content %></div>
</script>
	