<script type="text/template" id="profile-template">	
	<%=data.title %>
	<div class="pull-left">
		<img style="width: 150px; height: 150px; border: 1px gray solid;"></img>
	</div>
	<div class="pull-left  profile-card-inner">
		<h3 class="nowrap"><%= app.util.userName(data.name,data.surname,data.username,data )%> </h3>
		<% if(data.twitterUserName){ %>
			<h5>twitter: <a href="http://twitter.com/<%= data.twitterUserName %>">&#64;<%= data.twitterUserName %></a></h5>
		<%} %>
		<% if(data.skypeUserName){ %>
			<h5> skype: <a href="skype:<%= data.skypeUserName %>?call">&#64;<%= data.skypeUserName %></a></h5>
		<%} %>
		<p><%= data.bio %></p>
	</div>			
</script>

